.inputContainer {
  display: flex;
  flex-direction: column;
  gap: .1875rem;
  position: relative;
}

.input {
  background-color: var(--BACKGROUND_COLOR);
  border-radius: .5625rem;
  border-style: solid;
  border-width: .125rem;
  border-color: rgba(215, 215, 215, 1);
  font-family: 'Inter';
  font-size: .6875rem;
  font-weight: 700;
  padding: .25rem .5rem;
  outline-style: none;
  cursor: text;
  height: 1.9375rem;
  overflow-y: auto;
  position: relative;
}

.placeholder {
  display: flex;
  position: absolute;
  top: 26px;
  left: 11px;
  font-size: 11px;
  font-weight: 700;
  color: rgba(107, 120, 141, 1);
  pointer-events: none;
}