.pageContentWrapper {
  position: relative;
}

.alertBanner {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--WARNING_COLOR);
  color: var(--ERROR_COLOR);
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 14px;
  box-sizing: border-box;
}

.alertBanner a {
  font-weight: 600;
  color: var(--ERROR_COLOR);
  text-decoration: underline;
}

.pageWrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 32px;
}

.pageHeader { 
  text-align: center; 
  padding: 220px 0 200px 0; 
  background-color: var(--SECBACKGROUND_COLOR); 
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.contentSection { 
  padding: 48px 0; 
  border-top: 1px solid #e5e7eb; 
  text-align: center;
}

.contentSection:first-child {
  border-top: none;
}

.pageHeader h1 {
  font-size: 64px !important;
  font-weight: 700 !important;
  line-height: 1.1 !important;
  margin-bottom: 60px;
}

.contentSection h2 { 
  font-size: 36px; 
  font-weight: 700; 
  margin-bottom: 16px; 
  text-align: center;
}

.contentSection p { 
  font-size: 16px; 
  color: #4b5563; 
  margin-bottom: 40px; 
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  text-align: left;
}

.viewAllButton {
  margin-top: 40px;
  padding: 12px 24px;
  background-color: var(--PREMIUM_COLOR);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.ctaBanner {
  background: linear-gradient(180deg, #6750A4FA 0%, #6E5CE6A6 45%);
  color: var(--WHITE_COLOR);
  text-align: center;
  padding: 64px 24px;
  margin-top: 48px;
  border-radius: 30px;
  margin-bottom: 48px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
.ctaBanner h2 { 
    font-size: 48px; 
    margin-bottom: 16px; 
}

.ctaBanner p { 
    max-width: 750px; 
    margin: 0 auto 32px; 
    opacity: 0.9; 
}

.ctaBanner button {
  background-color: var(--TERCIARY_COLOR);
  color: var(--WHITE_COLOR);
  border: none;
  padding: 14px 28px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 900px) { 
    .grid { grid-template-columns: repeat(2, 1fr); } 
}
@media (max-width: 600px) { 
    .grid { grid-template-columns: 1fr; } 
}