.navbar {
  background-color: #2C0735;
  padding: 1rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
}

.navbar .nav-links a {
  color: white;
  text-decoration: none;
}
