/* CSS básico */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografia base */
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
  /*color: #2C0735;*/
  line-height: 1.6;
  min-height: 100vh;
  padding: 2rem;
}

/* Layout container padrão */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Links */
a {
  color: #2563eb;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover,
a:focus {
  color: #1e40af;
  outline: none;
}

/* Imagens responsivas */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Botões básicos */
button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  padding: 0.6em 1.2em;
  border-radius: 6px;
  background-color: #2C0735;
  color: white;
  transition: background-color 0.3s ease;
}

button:hover,
button:focus {
  background-color: #2C0735;
  outline: none;
}

/* Tipografia Responsiva */
@media (max-width: 768px) {
  .home {
    flex-direction: column;
    padding: 1rem;
  }
  .home-texto, .home-imagem {
    width: 100%;
    text-align: center;
  }
  .botoes {
    justify-content: center;
  }
}